.footer {
  justify-content: center;
  align-content: center;
  padding: 10px 5px 5px;
}

.footer button {
  background: #1b95e0;
  border: 0;
  padding: 0 15px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.notice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 25px;
}

@media (max-width: 640px - 1px) {
  .notice-container {
    justify-content: space-around;
  }
}

.notice-container h4 {
  text-align: center;
  margin: 0;
}

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37474f;
}
